* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .pai {
    height: 300vh;
}

.filha1, .filha2, .filha3 {
    width: 300px;
    height: 300px;
    background: red;
    margin: 10px;
    position: static;
}

.filha1 {

}

.filha2 {
    background: greenyellow;
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 1;
}

.filha3 {
   background: blue; 
   position: relative;
   top:100px;
}

.outra {
    background: white;
    font-size: 25px;
    position: absolute;
    top: 15px;
    width: 100px;
} */

ul {
    height: 100px;
    margin-left: 30px;
    overflow-y: auto;
}

ul li.sticky {
    position: sticky;
    background: gray;
    top: 0;
}

