* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


input {
    margin-bottom: 15px;
}

input:not(:checked) + p {
    background: brown;
}

input:checked + p {
    background: yellow;
}

p:not(.meio) {
    color: blue;
}
